---
import Layout from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import ShortHero from '@components/ShortHero.astro'
---

<Layout title="Homepage">
	<Header />
	<ShortHero title="Meet the Muscle" />

	<!-- Story -->
	<section>
		<div class="mx-auto grid w-full max-w-7xl grid-cols-1 items-center gap-12 px-7 py-16 lg:grid-cols-2 lg:px-10">
			<div class="">
				<h1 class="mb-8 text-3xl font-bold md:text-5xl">Our story, in storage units</h1>
				<p class="text-lg leading-relaxed">
					No doubt we're well acquainted with storage units. Ten years ago our story started in one. Founding partner Alex Sargent got the idea to start a moving company after overhearing
					complaints about the moving experience and attitude of the movers people had hired. Ned Swain, a frequent customer, liked the idea so much he brought it to two other friends, Jake
					Holz and Jon Donnell. Soon after, Local Muscle was born with the driving idea that customer service and attitude of the crews will be what sets us apart. The results speak for
					themselves.
				</p>
			</div>

			<div>
				<iframe
					class="aspect-video w-full rounded-md border-8 border-primary"
					src="https://www.youtube.com/embed/CLv16TFTKNs"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</div>
		</div>
	</section>

	<!-- Mission -->
	<section class="bg-gray-100 py-16">
		<div class="mx-auto w-full max-w-7xl px-7 text-center lg:px-10">
			<h2 class="mb-8 text-3xl font-bold md:text-5xl">Our Mission</h2>
			<p class="text-lg leading-relaxed">To provide a stress free and cost effective move that leaves you wondering what you were worried about in the first place.</p>
		</div>
	</section>

	<section>
		<div class="mx-auto w-full max-w-7xl px-7 py-16 lg:px-10">
			<div class="mx-auto w-full max-w-6xl text-center">
				<h1 class="mb-8 text-3xl font-bold md:text-5xl">Why choose Local Muscle?</h1>
				<p class="text-lg leading-relaxed">
					We've built a reputation throughout New England as a moving company you can trust. Whether you're moving halfway across the country or across the street, we've got you
					covered.Throughout our history we really have seen it all, and use that knowledge to make your move as smooth as possible.Many of our customers have returned to us time and time
					again for their moving needs. That being said, we prefer to let our reviews speak for themselves. Check us out on Google Reviews and Yelp for more firsthand customer feedback!
				</p>
			</div>

			<div class="mt-10">
				<iframe
					class="aspect-video w-full rounded-md border-8 border-primary"
					src="https://www.youtube.com/embed/8bWU_GcFb90"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</div>
			<p class="mt-5 text-lg leading-relaxed">
				Put simply, we want to change your opinion of movers and moving for the better. Each move is carefully tailored to best fit your needs and ensure a positive experience for customers
				and crews alike. From the point you complete our estimate form, a member of our dedicated staff will be in contact with you every step of the way. Get started with our estimate form.
			</p>
		</div>
	</section>

	<section class="bg-gray-100 py-16">
		<div class="mx-auto w-full max-w-7xl px-7 text-center lg:px-10">
			<blockquote class="mb-2 text-2xl font-medium italic">"I love lifting heavy awkward things, and running around."</blockquote>
			<p class="text-lg font-bold">- Ned Swain</p>
		</div>
	</section>

	<Footer />
</Layout>
