---
import Base from '@layouts/Base.astro'
import QuoteForm from '@components/quoteForm.jsx'
---
<Base title="Hire Us">
  <>
    <h2 class="text-3xl font-bold text-center pt-44">Hire Us</h2>
    <QuoteForm client:only="react" />
  </>
</Base>