---
import Layout from '@layouts/Base.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import checklist from '@images/flat-lay-notebook-with-list-desk.jpg'
import ShortHero from '@components/ShortHero.astro'
---

<Layout title="Resources">
	<Header />
	<ShortHero title="Resources" />

	<!-- Story -->
	<section>
		<div class="mx-auto w-full max-w-7xl px-7 py-16 lg:px-10">
			<div class="mx-auto w-full max-w-6xl text-center">
				<h1 class="mb-2 text-3xl font-bold md:text-5xl">Moving Checklist</h1>
				<p class="text-lg leading-relaxed">Quick reference for steps to ensure your move goes off without a hitch</p>
			</div>

			<div class="mt-10 grid grid-cols-2 gap-10">
				<ul class="list-disc space-y-3 pl-6 leading-relaxed">
					<li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						All small and loose items are protected and boxed
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						A 'no pack' zone is designated for essentials (phone chargers, medicine, keys)
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Boxes are sealed and labeled
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Items in drawers and on shelves are cleared
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Appliances are detached/unhooked
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Gas/oil is removed from equipment
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Flammable substances, ammunitions, explosives, and alcohol, are handled separately
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Parking arrangements are secured
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Property management/neighbors are aware of your move
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						If applicable, an elevator is explicitly reserved
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Confirm no other work crews are scheduled at the same time as us
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Pathways are clear, inside and outside load and unload sites
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						Sites are clean, sanitary, and safe
					</li><li class="flex items-start gap-1">
						<svg class="mr-1.5 mt-1.5 h-4 w-4 flex-shrink-0 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
							><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"
							></path></svg
						>
						In the Winter, your driveway, walkways, and roads are plowed and salted/sanded
					</li>
				</ul>

				<div class="relative">
					<img src={checklist} alt="checklist" class="absolute inset-0 h-full w-full object-cover" />
				</div>
			</div>
		</div>
	</section>

	<!-- Mission -->
	<section class="bg-gray-100 py-16">
		<div class="mx-auto w-full max-w-7xl px-7 text-center lg:px-10">
			<h2 class="mb-4 text-3xl font-bold md:text-5xl">Policies and Contracts</h2>
			<p class="mx-auto w-full max-w-4xl">
				We've outlined our Terms of Service and Full Value Replacement Coverage in simple language for quick reference. For interstate moves, the FMCSA also provides brochures regarding your legal
				rights.
			</p>

			<div class="mt-12 grid grid-cols-2 gap-8 text-left">
				<div>
					<h3 class="mb-5 text-2xl font-medium text-primary">Local (in-state)</h3>
					<ul class="list-disc pl-6 text-left">
						<li>
							<a href="#" class="text-lg leading-relaxed hover:underline">In State Terms and Conditions Outline</a>
						</li>
						<li>
							<a href="#" class="text-lg leading-relaxed hover:underline">In State Full Value Replacement Coverage</a>
						</li>
					</ul>
				</div>

				<div>
					<h3 class="mb-5 text-2xl font-medium text-primary">Interstate</h3>
					<ul class="list-disc pl-6 text-left">
						<li>
							<a href="#" class="text-lg leading-relaxed hover:underline">Interstate Carrier Liability Agreement</a>
						</li>
						<li>
							<a href="#" class="text-lg leading-relaxed hover:underline">"Ready to Move"</a><span class="text-yellow-500">[External Link]</span>
						</li>
						<li>
							<a href="#" class="text-lg leading-relaxed hover:underline">"Your Rights and Responsiblities"</a><span class="text-yellow-500">[External Link]</span>
						</li>
					</ul>
				</div>
			</div>

			<p class="mt-8 max-w-3xl text-left">
				We bill differently for interstate moves, as mandated by law. We will determine a flat rate and provide a quote, rather than create an hourly-based estimate.
			</p>
		</div>
	</section>

	<Footer />
</Layout>
