---
import Layout from "@layouts/Base.astro";
import keystaticConfig from "keystatic.config";
import { createReader } from "@keystatic/core/reader";

const reader = createReader(process.cwd(), keystaticConfig);
const page = await reader.collections.pages.read("thank-you");
const content = page?.componentBlocks.filter(bl => bl.discriminant === 'headerText')
console.log(content[0])
---

<Layout title="Thank You">
    {content[0] &&
        <div class="py-80">
            <h3>{content[0].value.header}</h3>
            <p>{content[0].value.text}</p>
        </div>
    }
</Layout>