<section class="bg-white">
	<div class="mx-auto max-w-screen-md px-4 py-8 lg:py-16">
		<p class="mb-10 text-lg">
			If you’re someone who enjoys physical work and problem-solving in a positive environment, we’d like to meet you. Base pay begins at $16/hour, with movers averaging around $21/hour with tips and
			additional incentives factored in. Eligible movers who complete our driving assessment receive additional pay on top of that. You can get things started by filling out the form below.
			<br /><br />
			You can also reach us by email at <a class="hover:text-primary hover:underline" href="mailto:hiring@localmusclemovers.com.">hiring@localmusclemovers.com.</a>
		</p>

		<h2 class="mb-4 text-center text-4xl font-extrabold tracking-tight text-gray-900">Application Form</h2>
		<p class="mb-8 text-center font-light text-gray-500 sm:text-xl lg:mb-16">This is not a formal application, but it's a great way to start the process.</p>
		<form action="#" class="space-y-8">
			<div class="grid grid-cols-2 gap-8">
				<div>
					<label for="first-name" class="mb-2 block text-sm font-medium text-gray-900">First Name*</label>
					<input type="text" id="first-name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary" required />
				</div>
				<div>
					<label for="last-name" class="mb-2 block text-sm font-medium text-gray-900">Last Name*</label>
					<input type="text" id="last-name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary" required />
				</div>
			</div>

			<div class="grid grid-cols-3 gap-8">
				<div class="col-span-2">
					<label for="phone" class="mb-2 block text-sm font-medium text-gray-900">Phone*</label>
					<input type="tel" id="phone" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary" required />
				</div>
				<div>
					<label for="ext" class="mb-2 block text-sm font-medium text-gray-900">Ext.</label>
					<input type="text" id="ext" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary" required />
				</div>
			</div>

			<div>
				<label for="email" class="mb-2 block text-sm font-medium text-gray-900">Email*</label>
				<input type="email" id="email" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary" required />
			</div>

			<div>
				<label for="email" class="mb-2 block text-sm font-medium text-gray-900">Which branch are you interested in contacting?</label>

				<div class="flex items-center gap-12">
					<div class="flex items-center gap-2">
						<input type="checkbox" name="portland" id="portland" class="text-primary accent-primary focus:outline-primary" />
						<label for="portland" class="text-sm">Portland, ME</label>
					</div>
					<div class="flex items-center gap-2">
						<input type="checkbox" name="burlington" id="burlington" class="text-primary accent-primary focus:outline-primary" />
						<label for="burlington" class="text-sm">Burlington, VT</label>
					</div>
				</div>
			</div>

			<div class="sm:col-span-2">
				<label for="message" class="mb-2 block text-sm font-medium text-gray-900">Your interests, work history, availability, anything you think is relevant:</label>
				<textarea id="message" rows="6" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary"></textarea>
			</div>
			<button type="submit" class="focus:ring-primary-300 rounded-lg bg-primary px-5 py-3 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 sm:w-fit"
				>Send message</button
			>
		</form>
	</div>
</section>
