---
const { block } = Astro.props
---

<section class="relative z-0 py-16 md:py-32">
	<div class="mx-auto w-full max-w-7xl px-4">
		<div class="mx-auto mb-16 w-full max-w-2xl pb-3 text-center">
			<h3 class="mx-auto mb-5 w-fit bg-gradient-1 bg-clip-text font-primary text-[38px] text-transparent">Feedback from Customers</h3>
			<p class="font-primary text-lg leading-relaxed tracking-wider text-primary-500">Why you should hire our Local Muscle Movers.</p>
		</div>

		<div class="mx-auto grid max-w-4xl grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:gap-9">
			<div class="border-2 border-primary-500 p-5 text-white">
				<p class="text-sm leading-relaxed">
					Boost your product and service's credibility by adding testimonials from your clients. People love recommendations so feedback from others who've tried it is invaluable.
				</p>
				<h3 class="mt-5 w-fit bg-gradient-1 bg-clip-text font-primary text-base italic text-transparent">- Hannah Morales</h3>
			</div>
			<div class="border-2 border-primary-500 p-5 text-white">
				<p class="text-sm leading-relaxed">
					Boost your product and service's credibility by adding testimonials from your clients. People love recommendations so feedback from others who've tried it is invaluable.
				</p>
				<h3 class="mt-5 w-fit bg-gradient-1 bg-clip-text font-primary text-base italic text-transparent">- Teddy Yuhui</h3>
			</div>
			<div class="border-2 border-primary-500 p-5 text-white">
				<p class="text-sm leading-relaxed">
					Boost your product and service's credibility by adding testimonials from your clients. People love recommendations so feedback from others who've tried it is invaluable.
				</p>
				<h3 class="mt-5 w-fit bg-gradient-1 bg-clip-text font-primary text-base italic text-transparent">- Lorna Alvarado</h3>
			</div>
		</div>

		<div class="pointer-events-none absolute inset-0 -z-10 bg-black/80"></div>
		<img
			src="https://images.pexels.com/photos/19560882/pexels-photo-19560882/free-photo-of-a-large-building-with-a-large-bird-flying-over-it.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
			alt="background"
			class="pointer-events-none absolute inset-0 -z-20 h-full w-full object-cover"
		/>
	</div>
</section>