<hr class="my-8 hidden border-white/50" />

<div class="mx-auto hidden min-h-[380px] w-full">
	<div class="w-full">
		<ul
			class="sm:rounded-t-0 grid grid-cols-2 flex-wrap divide-x divide-y divide-gray-600 overflow-hidden rounded-t-lg border-b border-gray-600 text-center text-sm font-medium sm:flex sm:divide-y-0"
			id="myTab"
			data-tabs-toggle="#myTabContent"
			role="tablist">
			<li class="flex-1" role="presentation">
				<button
					class="w-full border-b border-b-gray-600 bg-white/20 px-5 py-4 text-base font-medium text-white/80 backdrop-blur-md hover:text-gray-300 aria-selected:bg-primary aria-selected:text-white sm:rounded-tl-lg sm:border-b-0"
					id="Moving-tab"
					data-tabs-target="#Moving"
					type="button"
					role="tab"
					aria-controls="Moving"
					aria-selected="false">Moving</button
				>
			</li>
			<li class="flex-1" role="presentation">
				<button
					class="w-full border-transparent bg-white/20 px-5 py-4 text-base font-medium text-white/80 backdrop-blur-md hover:border-gray-300 hover:text-gray-300 aria-selected:bg-primary aria-selected:text-white dark:hover:text-gray-300"
					id="Rearrangement-tab"
					data-tabs-target="#Rearrangement"
					type="button"
					role="tab"
					aria-controls="Rearrangement"
					aria-selected="false">Rearrangement</button
				>
			</li>
			<li class="flex-1" role="presentation">
				<button
					class="w-full border-transparent bg-white/20 px-5 py-4 text-base font-medium text-white/80 backdrop-blur-md hover:border-gray-300 hover:text-gray-300 aria-selected:bg-primary aria-selected:text-white dark:hover:text-gray-300"
					id="Hoisting-tab"
					data-tabs-target="#Hoisting"
					type="button"
					role="tab"
					aria-controls="Hoisting"
					aria-selected="false">Hoisting</button
				>
			</li>
			<li class="flex-1" role="presentation">
				<button
					class="w-full border-transparent bg-white/20 px-5 py-4 text-base font-medium text-white/80 backdrop-blur-md hover:border-gray-300 hover:text-gray-300 aria-selected:bg-primary aria-selected:text-white dark:hover:text-gray-300 sm:rounded-tr-lg"
					id="heavy-items-tab"
					data-tabs-target="#heavy-items"
					type="button"
					role="tab"
					aria-controls="heavy-items"
					aria-selected="false">Heavy Items</button
				>
			</li>
		</ul>
	</div>
	<div id="myTabContent" class="text-gray-300">
		<div class="hidden rounded-b-lg bg-white/20 p-5 backdrop-blur-lg md:p-8" id="Moving" role="tabpanel" aria-labelledby="Moving-tab">
			<h3 class="mb-5 text-2xl font-bold text-white md:text-3xl">Moving doesn't have to be difficult</h3>
			<p class="text-base leading-relaxed md:text-xl md:leading-relaxed">
				We'll move you from your current location to your next. Residential or commercial, rain or shine. We've been doing it every day for years and we have all the tools for the job.
				<br /><br />
				Trustworthiness is among the most important traits we look for when hiring new movers. We understand the sensitivity involved with allowing us into your home and handling your posessions. We train
				our team to high standards of careful handling as well as courteous conduct.
			</p>
		</div>
		<div class="hidden rounded-b-lg bg-white/20 p-5 backdrop-blur-lg md:p-8" id="Rearrangement" role="tabpanel" aria-labelledby="Rearrangement-tab">
			<h3 class="mb-5 text-2xl font-bold text-white md:text-3xl">Making space for new carpets</h3>
			<p class="text-base leading-relaxed md:text-xl md:leading-relaxed">
				We can move your furniture out of your room, or all your rooms, so you can get your floors redone. And then we'll put it back.
			</p>

			<a href="/hire-us" class="mt-8 block w-fit rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
				>Get Free Estimate</a
			>
		</div>
		<div class="hidden rounded-b-lg bg-white/20 p-5 backdrop-blur-lg md:p-8" id="Hoisting" role="tabpanel" aria-labelledby="Hoisting-tab">
			<h3 class="mb-5 text-2xl font-bold text-white md:text-3xl">Narrow stairwell? Small doorways?</h3>
			<p class="text-base leading-relaxed md:text-xl md:leading-relaxed">
				In many cases, we'll be able to get large items into the second floor of your home over the side of your deck or through a window. To determine if your hoist is within our scope of work, fill
				out our estimate form and we'll work with you to get it done.
			</p>

			<a href="/hire-us" class="mt-8 block w-fit rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
				>Get Free Estimate</a
			>
		</div>
		<div class="hidden rounded-b-lg bg-white/20 p-5 backdrop-blur-lg md:p-8" id="heavy-items" role="tabpanel" aria-labelledby="heavy-items-tab">
			<h3 class="mb-5 text-2xl font-bold text-white md:text-3xl">This is where the "muscle" comes in</h3>
			<p class="text-base leading-relaxed md:text-xl md:leading-relaxed">
				Local Muscle has loads of experience moving items up to 500 pounds, including pianos, gun safes, stone benches, and armoirs. To determine if your item is within our scope of work, fill out our
				estimate form.
			</p>

			<a href="/hire-us" class="mt-8 block w-fit rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
				>Get Free Estimate</a
			>
		</div>
	</div>
</div>
