<footer class="bg-white rounded-lg shadow sm:flex sm:items-center sm:justify-between p-4 sm:p-6 xl:p-8 dark:bg-gray-800">
  <p class="mb-4 text-sm text-center text-gray-500 sm:mb-0">
    Local Muscle Movers
  </p>
  <div class="flex divide-x items-center text-sm text-gray-500">
    <p class="px-3"><strong class="text-gray-800">USDOT</strong> # 2162841</p>
    <p class="px-3">&copy; 2023</p>
  </div>
</footer>
