<section
	class="flex items-end bg-primary/60 bg-[url('https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/coast-house-view.jpg')] bg-cover bg-fixed bg-center bg-no-repeat px-7 pt-44 bg-blend-color-burn lg:px-10 lg:pt-40">
	<div class="z-1 relative mx-auto w-full max-w-screen-xl py-8 text-white lg:pb-20 lg:pt-16 xl:px-0">
		<div class="mb-6 max-w-screen-md lg:mb-0">
			<h1 class="mb-4 text-4xl font-extrabold leading-tight tracking-tight text-white md:text-5xl lg:text-6xl">Let's get moving</h1>
			<p class="mb-6 font-light text-gray-300 md:text-lg lg:mb-8 lg:text-xl">
				The best of Luxury Retreats is now Flowbite Luxe—offering the world's most extraordinary homes with the highest standard of service.
			</p>
			<a
				href="#"
				class="focus:ring-primary-900 dark:bg-primary-600 inline-flex items-center rounded-lg bg-primary px-5 py-3 text-center font-medium text-white hover:bg-primary focus:outline-none focus:ring-4 dark:hover:bg-primary dark:focus:ring-primary"
				>Get Free Estimate</a
			>
		</div>
	</div>
</section>
