<div class="bg-white py-24 sm:py-32">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="mx-auto max-w-2xl lg:text-center">
			<h2 class="text-base font-semibold leading-7 text-indigo-600">What We Provide</h2>
			<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Services We Offered</p>
			<p class="mt-6 text-lg leading-8 text-gray-600">We're insured and FMCSA registered.</p>
		</div>

		<div class="mx-auto mt-12 w-full max-w-screen-md">
			<div class="w-full">
				<ul class="-mb-px flex flex-wrap border-b-2 border-primary text-center text-sm font-medium" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
					<li class="flex-1" role="presentation">
						<button
							class="w-full rounded-t-lg bg-slate-50 px-5 py-4 text-base font-medium aria-selected:bg-primary aria-selected:text-white"
							id="Moving-tab"
							data-tabs-target="#Moving"
							type="button"
							role="tab"
							aria-controls="Moving"
							aria-selected="false">Moving</button
						>
					</li>
					<li class="flex-1" role="presentation">
						<button
							class="w-full rounded-t-lg border-transparent bg-slate-50 px-5 py-4 text-base font-medium hover:border-gray-300 hover:text-gray-600 aria-selected:bg-primary aria-selected:text-white dark:hover:text-gray-300"
							id="Rearrangement-tab"
							data-tabs-target="#Rearrangement"
							type="button"
							role="tab"
							aria-controls="Rearrangement"
							aria-selected="false">Rearrangement</button
						>
					</li>
					<li class="flex-1" role="presentation">
						<button
							class="w-full rounded-t-lg border-transparent bg-slate-50 px-5 py-4 text-base font-medium hover:border-gray-300 hover:text-gray-600 aria-selected:bg-primary aria-selected:text-white dark:hover:text-gray-300"
							id="Hoisting-tab"
							data-tabs-target="#Hoisting"
							type="button"
							role="tab"
							aria-controls="Hoisting"
							aria-selected="false">Hoisting</button
						>
					</li>
					<li class="flex-1" role="presentation">
						<button
							class="w-full rounded-t-lg border-transparent bg-slate-50 px-5 py-4 text-base font-medium hover:border-gray-300 hover:text-gray-600 aria-selected:bg-primary aria-selected:text-white dark:hover:text-gray-300"
							id="heavy-items-tab"
							data-tabs-target="#heavy-items"
							type="button"
							role="tab"
							aria-controls="heavy-items"
							aria-selected="false">Heavy Items</button
						>
					</li>
				</ul>
			</div>
			<div id="myTabContent">
				<div class="hidden rounded-lg bg-gray-50 p-8 dark:bg-gray-800" id="Moving" role="tabpanel" aria-labelledby="Moving-tab">
					<h3 class="mb-5 text-3xl font-bold text-gray-800">Moving doesn't have to be difficult</h3>
					<p class="text-xl leading-relaxed">
						We'll move you from your current location to your next. Residential or commercial, rain or shine. We've been doing it every day for years and we have all the tools for the job.
						<br /><br />
						Trustworthiness is among the most important traits we look for when hiring new movers. We understand the sensitivity involved with allowing us into your home and handling your posessions. We
						train our team to high standards of careful handling as well as courteous conduct.
					</p>
				</div>
				<div class="hidden rounded-lg bg-gray-50 p-8 dark:bg-gray-800" id="Rearrangement" role="tabpanel" aria-labelledby="Rearrangement-tab">
					<h3 class="mb-5 text-3xl font-bold text-gray-800">Making space for new carpets</h3>
					<p class="text-xl leading-relaxed">We can move your furniture out of your room, or all your rooms, so you can get your floors redone. And then we'll put it back.</p>

					<a
						href="#"
						class="mt-8 block w-fit rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
						>Get Free Estimate</a
					>
				</div>
				<div class="hidden rounded-lg bg-gray-50 p-8 dark:bg-gray-800" id="Hoisting" role="tabpanel" aria-labelledby="Hoisting-tab">
					<h3 class="mb-5 text-3xl font-bold text-gray-800">Narrow stairwell? Small doorways?</h3>
					<p class="text-xl leading-relaxed">
						In many cases, we'll be able to get large items into the second floor of your home over the side of your deck or through a window. To determine if your hoist is within our scope of work,
						fill out our estimate form and we'll work with you to get it done.
					</p>

					<a
						href="#"
						class="mt-8 block w-fit rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
						>Get Free Estimate</a
					>
				</div>
				<div class="hidden rounded-lg bg-gray-50 p-8 dark:bg-gray-800" id="heavy-items" role="tabpanel" aria-labelledby="heavy-items-tab">
					<h3 class="mb-5 text-3xl font-bold text-gray-800">This is where the "muscle" comes in</h3>
					<p class="text-xl leading-relaxed">
						Local Muscle has loads of experience moving items up to 500 pounds, including pianos, gun safes, stone benches, and armoirs. To determine if your item is within our scope of work, fill out
						our estimate form.
					</p>

					<a
						href="#"
						class="mt-8 block w-fit rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
						>Get Free Estimate</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
