---
import { Image } from 'astro:assets';
const { imageTextData } = Astro.props
---

<section class="bg-white dark:bg-gray-900">
	<div class="mx-auto max-w-screen-xl space-y-12 px-4 py-8 sm:py-16 lg:space-y-20 lg:px-6">
		{
			imageTextData?.imagePlacement == 'right' && (
				<div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-2 xl:gap-16">
					<div class="text-gray-500 dark:text-gray-400 sm:text-lg">
						<h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">Trusted for over a decade</h2>
						<p class="mb-8 font-light lg:text-xl">
							We've built a reputation throughout New England as a moving company you can trust. Whether you're moving halfway across the country or across the street, we've got you covered.
							Throughout our history we've seen it all, and we use that experience to make your move as smooth as possible. Our customers return to us time and time again for their moving needs. Let
							our reviews speak for themselves: Check us out on Google Reviews and Yelp for more firsthand customer feedback!
						</p>
					</div>
					<Image class="mb-4 flex w-full rounded-lg lg:mb-0" src={imageTextData?.image} alt="office feature image" />
				</div>
			)
		}
		{
			imageTextData?.imagePlacement == 'left' && (
				<div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-2 xl:gap-16">
					<Image class="order-last mb-4 flex w-full rounded-lg lg:order-none lg:mb-0" src={imageTextData?.image} alt="office feature image 2" />
					<div class="order-first text-gray-500 dark:text-gray-400 sm:text-lg lg:order-none">
						<h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">Your Local Moving Team</h2>
						<p class="mb-8 font-light lg:text-xl">
							We build crews that work well together, and crews that work well together keep our customers happy. Our staff has experience with all kinds of moves, be it a top floor apartment in the
							middle of a city or a rural location with rougher terrain, we can handle it all.
						</p>
					</div>
				</div>
			)
		}
	</div>
</section>
