---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
export interface Props {
	title: string | 'Local Muscle Movers'
}
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Marketing Website for Local Muscle Movers" />
		<meta name="viewport" content="width=device-width" />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap">
    </GoogleFontsOptimizer>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WJL3BQHS');</script>
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="overflow-y-scroll">
		<Header />
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
		<Footer />
		<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-WJL3BQHS height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	</body>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>
